/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 700px;
  block-size: 100%;
  background-image: var(--bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-primary);
  font-variation-settings: 'wght' var(--weight-regular), 'wdth' var(--wdth);
}

.header {
  background-color: var(--bg-color);
  margin-top: 100px;
  margin-bottom: 98px;
  border: 2px solid var(--themes-color);
  font-family: var(--font-family-secondary);
  text-align: center;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
}

.header .main-title {
  font-size: var(--title-size);
  margin-bottom: 20px;
  line-height: 100%;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--themes-color);
}

.card:not(:first-child) {
  margin-top: 50px;
}

.card-header {
  padding: 4px 10px;
}

.card-header h3 {
  font-variation-settings: 'wght' var(--weight-bold), 'wdth' var(--wdth);
}

.card-content .image-wrapper {
  position: relative;
}

.card-content .image-wrapper img {
  width: 100%;
}

.card-content p:not(:last-child) {
  margin-bottom: 25px;
}

.card-button {
  background-color: var(--bg-color);
  border: 2px solid var(--themes-color);
  font-family: var(--font-family-secondary);
  padding: 12.5px 37px;
}